.dark{
    background-color: black;
    color: white;
}

.mainArea{
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding-top: 10%;
}

.menu{
    display: flex;
    flex-direction: column;
}

.menu div{
    padding: 10px;
    border: solid 1px black;
}

.menu div:hover{
    font-weight: bold;
    cursor: pointer;
}

.profilePic{
    position: absolute;
    top: 20px;
    right: 20px;
    border: solid black 1px;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.profilePic:hover{
    cursor: pointer;
}

h1{
    text-align: center;
    padding-top: 5%;
}

.nextWorkout{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.registerInputs {
    font-size:13px;
    margin: 2px;
    height: 20px;
    width: 500px;
    border-radius:100px
}
.regInpCont {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.registerSubmit {
    width: 100px;
    height: 25px;
    font-size: 15px;
    border-radius:100px;
}

.options {
    display: grid;
    grid-template-columns:1fr 1fr;
    width: 200px;
}

.type {
    display: flex;
    flex-direction: column;
    align-items: left;
}

.dropdowns {
    display: flex;
    flex-direction: column;
    align-items: right;
}


/* wikiView */
.image-container {
    position: relative;
    width: 500px; 
    height: 300px;
    left: 20%;
  }
  .wikiBody {
    position: absolute;
  }
  .leftShoulder {
    position: absolute;
    width: 50px; 
    height: 50px;
    border: solid; 
    bottom: 8%;
    left: 18%;
  }
  .rightShoulder {
    position: absolute;
    width: 50px; 
    height: 50px;
    border: solid; 
    bottom: 8%;
    left: 48%;
  }
  .leftArm {
    position: absolute;
    width: 50px; 
    height: 250px;
    border: solid red;
    top: 90%;
    left: 12%; 
  }
  .rightArm {
    position: absolute;
    width: 50px; 
    height: 250px;
    border: solid red;
    top: 90%;
    left: 54%; 
  }
