.dark{
    background-color: black;
    color: white;
}

.mainArea{
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding-top: 10%;
}

.menu{
    display: flex;
    flex-direction: column;
}

.menu div{
    padding: 10px;
    border: solid 1px black;
}

.menu div:hover{
    font-weight: bold;
    cursor: pointer;
}

.profilePic{
    position: absolute;
    top: 20px;
    right: 20px;
    border: solid black 1px;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.profilePic:hover{
    cursor: pointer;
}

h1{
    text-align: center;
    padding-top: 5%;
}

.nextWorkout{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.registerInputs {
    font-size:13px;
    margin: 2px;
    height: 20px;
    width: 500px;
    border-radius:100px
}
.regInpCont {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.registerSubmit {
    width: 100px;
    height: 25px;
    font-size: 15px;
    border-radius:100px;
}

.options {
    display: grid;
    grid-template-columns:1fr 1fr;
    width: 200px;
}

.type {
    display: flex;
    flex-direction: column;
    align-items: left;
}

.dropdowns {
    display: flex;
    flex-direction: column;
    align-items: right;
}


/* Wiki body*/ 
.image-container {
    position: relative;
    width: 500px; 
    height: 300px;
    left: 20%;
  }
  .wikiBody {
    position: absolute;
  }
  .leftShoulder {
    position: absolute;
    width: 50px; 
    height: 50px;
    color: transparent; 
    /* border: solid red; */ 
    bottom: 8%;
    left: 18%;
  }
  .rightShoulder {
    position: absolute;
    width: 50px; 
    height: 50px;
    color: transparent; 
    /* border: solid red; */ 
    bottom: 8%;
    left: 48%;
  }
  .leftArm {
    position: absolute;
    width: 50px; 
    height: 250px;
    color: transparent; 
    /* border: solid red; */ 
    top: 90%;
    left: 12%; 
  }
  .rightArm {
    position: absolute;
    width: 50px; 
    height: 250px;
    color: transparent; 
    /* border: solid red; */ 
    top: 90%;
    left: 54%; 
  }
  .chest {
    position: absolute;
    width: 100px; 
    height: 80px;
    color: transparent; 
    /* border: solid red; */ 
    top: 72%;
    left: 28%; 
  }
  .stomach {
    position: absolute;
    width: 130px; 
    height: 120px;
    color: transparent; 
    /* border: solid red; */ 
    top: 100%;
    left: 25%; 
  } 
.leftLeg {
    position: absolute;
    width: 55px; 
    height: 350px;
    color: transparent; 
    /* border: solid red; */ 
    top: 150%;
    left: 25%; 
}
.rightLeg {
    position: absolute;
    width: 55px; 
    height: 350px;
    color: transparent; 
    /* border: solid red; */ 
    top: 150%;
    left: 40%; 
}
.leftKnee {
    position: absolute;
    width: 50px; 
    height: 50px;
    color: transparent; 
  /* border: solid red; */ 
    top: 200%;
    left: 25%;
    z-index: 1;
}
.rightKnee {
    position: absolute;
    width: 50px; 
    height: 50px;
    color: transparent; 
    /* border: solid red; */ 
    top: 200%;
    left: 40%;
    z-index: 1;
} 

.image-containerWiki {
    position: relative;
    width: 500px; 
    height: 300px;
    left: 20%;
  }
.wikiShoulder{
    position:absolute;
    left: 185%;
    bottom:-10%;
}
.wikiMenuButton{
    position:absolute;
    right: 50%;
    top: 20%;
    width: 10%;
    height: 10%;
    border-radius: 50%;
    border-color:blanchedalmond;
    background-color: lightsteelblue;
}
.videoDisplay{
position: absolute;
top: 120%;
left: 50%;
}
.treningsInfo{
    position: absolute;
    left: 50%;
    bottom: 0px;
    width: 140%;
}

.prevArrow{ 
    position: absolute;
    width: 0;
      height: 0;
      border-left: 20px solid transparent; 
      border-right: 20px solid transparent; 
      border-bottom: 40px solid greenyellow; 
      transform: rotate(-90deg); 
      bottom: -300px;
      left: 140px;
}
.nextArrow{
    position: absolute;
    width: 0;
      height: 0;
      border-left: 20px solid transparent; 
      border-right: 20px solid transparent; 
      border-bottom: 40px solid greenyellow; 
      transform: rotate(90deg); 
      bottom: -300px;
      left: 950px;
}