/* wikiPage */
.wikiExitButton {
  width: 25px;
  height: 25px;
}
.wikiSpan {
  font-size: 22px;
}

.wikiSelectionText {
  position: absolute;
  font-size: 25px;
  top: 100px;
  left: 50px;
}

.shoulderSelectionText:hover {
  cursor: pointer;
  width: 98px;
}

.armSelectionText:hover {
  cursor: pointer;
  width: 51px;
}

.chestSelectionText:hover {
  cursor: pointer;
  width: 53px;
}

.stomachSelectionText:hover {
  cursor: pointer;
  width: 85px;
}

.legSelectionText:hover {
  cursor: pointer;
  width: 43px;
}

.kneeSelectionText:hover {
  cursor: pointer;
  width: 59px;
}

.image-container {
  position: relative;
  width: 500px;
  height: 300px;
  left: 750px;
}

.wikiHeader {
  position: absolute;
}

.wikiBody {
  position: absolute;
  top: -39px;
  left: -300px;
  z-index: -1;
}

.leftShoulder {
  position: absolute;
  width: 60px;
  height: 65px;
  color: transparent;
  /* border: solid red; */
  bottom: 30%;
  left: -52%;
  transform: rotate(4deg);
  cursor: pointer;
}

.rightShoulder {
  position: absolute;
  width: 60px;
  height: 65px;
  color: transparent;
  /* border: solid red; */
  bottom: 30%;
  left: -10%;
  transform: rotate(-3deg);
  cursor: pointer;
}

.leftArm {
  position: absolute;
  width: 70px;
  height: 250px;
  color: transparent;
  /* border: solid red; */
  bottom: -55%;
  left: -57%;
  transform: rotate(4deg);
  cursor: pointer;
}

.rightArm {
  position: absolute;
  width: 55px;
  height: 250px;
  color: transparent;
  /*  border: solid red; */
  bottom: -55%;
  left: -5.4%;
  transform: rotate(-4deg);
  cursor: pointer;
}

.chest {
  position: absolute;
  width: 143px;
  height: 110px;
  color: transparent;
  /* border: solid red; */
  bottom: 16%;
  left: -40%;
  transform: rotate(-2deg);
  cursor: pointer;
}

.stomach {
  position: absolute;
  width: 155px;
  height: 175px;
  color: transparent;
  /* border: solid red; */
  top: 84%;
  left: -39.5%;
  transform: rotate(-2deg);
  cursor: pointer;
}

.leftLeg {
  position: absolute;
  width: 80px;
  height: 440px;
  color: transparent;
  /* border: solid red; */
  top: 145%;
  left: -40%;
  cursor: pointer;
}

.rightLeg {
  position: absolute;
  width: 80px;
  height: 440px;
  color: transparent;
  /* border: solid red; */
  top: 144%;
  left: -23%;
  cursor: pointer;
}

.leftKnee {
  position: absolute;
  width: 60px;
  height: 60px;
  color: transparent;
  /* border: solid red; */
  top: 210%;
  left: -37%;
  z-index: 1;
  cursor: pointer;
}

.rightKnee {
  position: absolute;
  width: 62px;
  height: 60px;
  color: transparent;
  /* border: solid red; */
  top: 210%;
  left: -22.5%;
  z-index: 1;
  cursor: pointer;
}

/* Video og treningssider */
.image-containerWiki {
  position: relative;
  width: 500px;
  height: 300px;
  left: 20%;
}

.wikiShoulder {
  position: absolute;
  left: 185%;
  bottom: -10%;
}

.wikiHeaderBackground {
  position: absolute;
  right: 30%;
  top: 10%;
  width: 35%;
  height: 10%;
  border-radius: 50%;
  border-color: blanchedalmond;
  background-color: lightsteelblue;;
  z-index: -1;
}

.wikiMenuButton {
  position: absolute;
  right: 75%;
  top: 9.5%;
  width: 8%;
  height: 8%;
  border-color: blanchedalmond;
}

.videoDisplay {
  position: absolute;
  top: 120%;
  left: 50%;
}

.treningsInfo {
  position: absolute;
  left: 50%;
  bottom: 0px;
  width: 140%;
}

.prevArrow {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 40px solid  darkgrey;
  transform: rotate(-90deg);
  bottom: -300px;
  left: 140px;
  cursor: pointer;
}

.nextArrow {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 40px solid darkgrey;
  transform: rotate(90deg);
  bottom: -300px;
  left: 950px;
  cursor: pointer;
}